section.services
  h2.visually-hidden Наши услуги
  .container
    ul.services__list
      li.services__item
        img(src="static/images/content/main-websites.jpg" alt="Веб-сайты" width="300" header="146").services__img
        h2.services__title Веб-сайты
        p.services__text Мир никогда не будет прежним после того как увидит ваш сайт!
        a(href="#").services__button.button.services__button--red Заказать
      li.services__item
        img(src="static/images/content/main-applications.jpg" alt="Приложения" width="300" header="146").services__img
        h2.services__title Приложения
        p.services__text Покорите топ-10 приложений в AppStore и Google Play
        a(href="#").services__button.button.services__button--green Заказать
      li.services__item
        img(src="static/images/content/main-presentations.jpg" alt="Презентации" width="300" header="146").services__img
        h2.services__title Презентации
        p.services__text Вы даже не подозреваете,  насколько вы изумительны!
        a(href="#").services__button.button.services__button--yellow Заказать