section.map
  h2.visually-hidden Как к нам добраться
  .container
    .map__wrapper
      .map__contacts
        h2.contacts__title NЁRDS DESIGN STUDIO
        p.contacts__text 191186, Санкт-Петербург,
          <br>ул. Б. Конюшенная, д. 19/8
        a(href="tel:+78122757575").contacts__phone +7 (812) 275-75-75
        a(href="#").contacts__button.button Напишите нам