section.features
  h2.visually-hidden Основные особенности
  .container
    .features__wrapper
      ul.features__list
        li.features__item
          .features__row
            img(src="static/images/content/bg-slide-01.png" alt="#").features__img
            .features__desk
              h2.features__title Долго, дорого,  скрупулезно.
              p.features__text
                | Математически выверенный дизайн <br>  для вашего сайта или мобильного приложения
              a(href="#").features__button.button Узнать больше
        li.features__item
          .features__row
            img(src="static/images/content/bg-slide-02.png" alt="#").features__img
            .features__desk
              h2.features__title Любим математику как никто другой
              p.features__text
                | Никакого креатива, только математические формулы <br> для расчета и идеальных пропорций.
              a(href="#").features__button.button Узнать больше
        li.features__item
          .features__row
            img(src="static/images/content/bg-slide-03.png" alt="#").features__img
            .features__desk
              h2.features__title Только ночь,<br>только хардкор
              p.features__text
                | Работать днем, как все? Мы против этого.<br>Ближе к полуночи работа только начинается.
              a(href="#").features__button.button Узнать больше