section.company
  h2.visually-hidden О нас
  .container
    .company__wrapper
      .company__info
        h2.info__title Мы — маленькая, но гордая дизайн-студия из Краснодара.  
        p.info__desk Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше креатива. Работаем не покладая рук, как роботы.
        h3.info__caption Выполняем заказы на разработку
        ul.info__list
          li.info__item: p.info__text Веб-сайтов любой сложности
          li.info__item: p.info__text Мобильных приложений для IOS и Android
          li.info__item: p.info__text Слайдшоу и видео для корпоративних презентаций
      .company__about
        img(src="static/images/content/main-logo.jpg" alt="Main Logo Nerds" width="360" height="208").company__img
        b.about__subtitle C 2004 года Любим точность во всем:
        ul.about__list
          li.about__item
            p.about__persent 146<sup>%</sup>
            p.about__text Уровень самоотдачи
          li.about__item
            p.about__persent 100<sup>%</sup>
            p.about__text Соблюдение  сроков
          li.about__item
            p.about__persent 50<sup>%</sup>
            p.about__text Минимальная предоплата