footer.page-footer
  .container
    .page-footer__wrapper
      ul.social-links__list
        li.social-links__item
          a(href="#").social-links__link
            +icon('icon-vk')
        li.social-links__item
          a(href="#").social-links__link
            +icon('icon-fb')
        li.social-links__item
          a(href="#").social-links__link
            +icon('icon-insta')
      .page-footer__desk
        h2.page-footer__title Давайте дружить, это выгодно!
        p.page-footer__text Скидка 10% для друзей из социальных сетей.