header.page-header
	.container
		.page-header__wrapper
			|
			a(href="#").page-header__logo
				+icon('nerds-logo')
			|
			nav.main-nav
				ul.main-nav__list
					li.main-nav__item.main-nav__item--active: a(href="#") Студия
					li.main-nav__item: a(href="#") Клиенты
					li.main-nav__item: a(href="#") Магазин
					li.main-nav__item: a(href="#") Контакты
			|
			|
			|
			a(href="#").page-header__cart Корзина
