section.partner
  h2.visually-hidden Наши партнёры
  .container
    .partner__wrapper
      ul.partner__list
        li.partner__item
          a(href="#").partner__link
            img(src="static/images/content/logo-htmlacademy.png" alt="HTML Academy" width="300" header="146").partner__img.partner__img--htmlacademy
        li.partner__item
          a(href="#").partner__link
            img(src="static/images/content/logo-borodinski.png" alt="HTML Academy" width="300" header="146").partner__img.partner__img--borodinski
        li.partner__item
          a(href="#").partner__link
            img(src="static/images/content/logo-pink.png" alt="HTML Academy" width="300" header="146").partner__img.partner__img--pink
        li.partner__item
          a(href="#").partner__link
            img(src="static/images/content/logo-mishka.png" alt="HTML Academy" width="300" header="146").partner__img.partner__img--mishka